.item {
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--separator);
  color: var(--text);
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 20px;
  transition: all 0.3s ease;

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &:hover {
    border: 1px solid var(--brand-light);
  }

  &__avatar {
    height: 56px;
    border-radius: 50%;
    background-color: var(--brand-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__badge {
    background-color: var(--badge);
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }

  &__date {
    color: var(--brand);
  }

  &__title {
    color: var(--text);
  }
}
