.publicCenterBlock {
  &--white {
    background-color: var(--white);
  }

  @media (width <= 1024px) {
    margin: 20px;
  }

  &__logo {
    text-align: center;
    padding-bottom: 10px;
  }

  &__center {
    align-content: center;
    backdrop-filter: blur(4px);
    border-radius: 12px;
    display: grid;
    gap: 20px;
    padding: 38px;
    width: 520px;

    @media only screen and (width <= 600px) {
      width: auto;
      padding: 20px;
    }
  }
}
