.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__warning-icon {
    margin-top: -20px;
    display: flex;
    justify-content: center;
  }

  &__modal-title {
    font-weight: 400;
    text-align: center;
  }

  &__rety-text {
    color: var(--brand);
  }
}
