.list {
  &__item {
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    padding-left: 5px;

    &::before {
      background-color: var(--brand);
      border-radius: 50%;
      content: '';
      display: block;
      height: 8px;
      margin-bottom: auto;
      margin-top: auto;
      width: 8px;
    }
  }
}
