.actions {
  align-items: center;
  display: flex;
  gap: clamp(0.625rem, 0.868vw + 0.208rem, 1.25rem);

  &__language {
    border-radius: var(--field-border-radius);
    &.Mui-select {
      padding: 0 8px;
    }
  }

  &__bell {
    background-color: var(--brand-secondary);
  }

  &__notification {
    right: -32px;
    top: -14px;
  }
}
