.actions {
  align-items: center;
  display: flex;
  gap: 20px;

  &__language {
    border-radius: var(--field-border-radius);
  }

  &__bell {
    background-color: var(--brand-secondary);
  }

  &__notification {
    right: -32px;
    top: -14px;
  }
}
